{{- /* Responsive Image Render Hook with modern format support and safe fallbacks */ -}}

{{- $dest := .Destination | default "" -}}
{{- $alt := .Text -}}
{{- $title := .Title -}}
{{- $scratch := newScratch -}}
{{- $scratch.Set "img" nil -}}

{{- if and $dest .Page -}}
  {{- with .Page.Resources.GetMatch $dest -}}
    {{- $scratch.Set "img" . -}}
  {{- end -}}
{{- end -}}

{{- if and (not ($scratch.Get "img")) (and $dest (not (strings.HasPrefix $dest "http"))) -}}
  {{- $trimmed := strings.TrimPrefix "/" $dest -}}
  {{- with resources.Get $trimmed -}}
    {{- $scratch.Set "img" . -}}
  {{- end -}}
{{- end -}}

{{- $img := $scratch.Get "img" -}}

{{- if $img -}}
  {{- if eq $img.MediaType.SubType "svg" -}}
    {{- if $title -}}
    <figure>
      <img src="{{ $img.RelPermalink }}" alt="{{ $alt }}" loading="lazy" class="figcaption-img">
      <figcaption>{{ $title }}</figcaption>
    </figure>
    {{- else -}}
    <img src="{{ $img.RelPermalink }}" alt="{{ $alt }}" loading="lazy">
    {{- end -}}
  {{- else -}}
    {{- $widths := slice 400 800 1200 1600 -}}
    {{- $format := cond (in $img.RelPermalink ".png") "png" (cond (in $img.RelPermalink ".webp") "webp" "jpg") -}}

    {{- $avifSrcset := slice -}}
    {{- $webpSrcset := slice -}}
    {{- $fallbackSrcset := slice -}}

    {{- range $widths -}}
      {{- $width := . -}}
      {{- if le $width $img.Width -}}
        {{- with $img.Resize (printf "%dx avif q85" $width) -}}
          {{- $avifSrcset = $avifSrcset | append (printf "%s %dw" .RelPermalink $width) -}}
        {{- end -}}
        {{- with $img.Resize (printf "%dx webp q85" $width) -}}
          {{- $webpSrcset = $webpSrcset | append (printf "%s %dw" .RelPermalink $width) -}}
        {{- end -}}
        {{- with $img.Resize (printf "%dx %s q85" $width $format) -}}
          {{- $fallbackSrcset = $fallbackSrcset | append (printf "%s %dw" .RelPermalink $width) -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}

    {{- $default := or ($img.Resize "800x jpg q85") $img -}}

    {{- if $title -}}
    <figure>
      <picture>
        {{- if gt (len $avifSrcset) 0 -}}
        <source type="image/avif" srcset="{{ delimit $avifSrcset ", " }}" sizes="(max-width: 800px) 100vw, 800px">
        {{- end -}}
        {{- if gt (len $webpSrcset) 0 -}}
        <source type="image/webp" srcset="{{ delimit $webpSrcset ", " }}" sizes="(max-width: 800px) 100vw, 800px">
        {{- end -}}
        {{- if gt (len $fallbackSrcset) 0 -}}
        <source type="image/{{ $format }}" srcset="{{ delimit $fallbackSrcset ", " }}" sizes="(max-width: 800px) 100vw, 800px">
        {{- end -}}
        <img src="{{ $default.RelPermalink }}" alt="{{ $alt }}" loading="lazy" width="{{ $default.Width }}" height="{{ $default.Height }}" class="figcaption-img">
      </picture>
      <figcaption>{{ $title }}</figcaption>
    </figure>
    {{- else -}}
    <picture>
      {{- if gt (len $avifSrcset) 0 -}}
      <source type="image/avif" srcset="{{ delimit $avifSrcset ", " }}" sizes="(max-width: 800px) 100vw, 800px">
      {{- end -}}
      {{- if gt (len $webpSrcset) 0 -}}
      <source type="image/webp" srcset="{{ delimit $webpSrcset ", " }}" sizes="(max-width: 800px) 100vw, 800px">
      {{- end -}}
      {{- if gt (len $fallbackSrcset) 0 -}}
      <source type="image/{{ $format }}" srcset="{{ delimit $fallbackSrcset ", " }}" sizes="(max-width: 800px) 100vw, 800px">
      {{- end -}}
      <img src="{{ $default.RelPermalink }}" alt="{{ $alt }}" loading="lazy" width="{{ $default.Width }}" height="{{ $default.Height }}">
    </picture>
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- if $title -}}
  <figure>
    <img src="{{ $dest | safeURL }}" alt="{{ $alt }}" loading="lazy" class="figcaption-img">
    <figcaption>{{ $title }}</figcaption>
  </figure>
  {{- else -}}
  <img src="{{ $dest | safeURL }}" alt="{{ $alt }}" loading="lazy">
  {{- end -}}
{{- end -}}
