<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}"{{- if (eq .Site.Params.mode "dark") -}} class="dark"{{ end }}>
{{ partial "header.html" . }}

<body>
	{{ if and (gt .WordCount 400 ) (or (eq .Site.Params.toc "floating") (eq .Site.Params.toc "both") )}}
	<div class="container-wide wrapper">
		<header class="site-header">
			{{ partial "head.html" . }}
		</header>

		<main role="main" aria-label="Main content">
			{{ partial "content_floating_toc.html" . }}
		</main>
	</div>
	{{ else }}
	<div class="container wrapper">
		<header class="site-header">
			{{ partial "head.html" . }}
		</header>

		<main role="main" aria-label="Main content">
			{{ partial "content_static.html" . }}
		</main>
	</div>
	{{ end }}

	<footer class="site-footer">
		{{ partial "footer.html" . }}
	</footer>
	{{ if and (gt .WordCount 400 ) (or (eq .Site.Params.toc "floating") (eq .Site.Params.toc "both") )}}
	{{ partial "toc_script.html" . }}
	{{ end }}
</body>

</html>
