{{- /* Resolve author data safely without hard-coded defaults */ -}}
{{- $scratch := newScratch -}}
{{- $scratch.Set "author" nil -}}
{{- $authors := .Site.Data.authors -}}

{{- with .Params.author }}
  {{- with $authors }}
    {{- with index . . }}
      {{- $scratch.Set "author" . -}}
    {{- end }}
  {{- end }}
{{- end }}

{{- if not ($scratch.Get "author") -}}
  {{- with .Site.Params.author.id }}
    {{- with $authors }}
      {{- with index . . }}
        {{- $scratch.Set "author" . -}}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end -}}

{{- if and (not ($scratch.Get "author")) $authors -}}
  {{- range $id, $data := $authors -}}
    {{- if not ($scratch.Get "author") }}{{- $scratch.Set "author" $data -}}{{- end -}}
  {{- end -}}
{{- end -}}

{{- $author := $scratch.Get "author" -}}

{{- $scratch.Set "authorName" (.Site.Params.author.name | default .Site.Author.name) -}}
{{- $scratch.Set "authorRole" (.Site.Params.author.role) -}}
{{- $scratch.Set "authorURL" (.Site.Params.author.url) -}}

{{- if $author -}}
  {{- $scratch.Set "authorName" ($author.fullName | default $author.name) -}}
  {{- $scratch.Set "authorRole" ($author.role | default ($scratch.Get "authorRole")) -}}
  {{- $scratch.Set "authorURL" ($author.website | default ($scratch.Get "authorURL")) -}}
{{- end -}}

{{- $authorName := $scratch.Get "authorName" -}}
{{- $authorRole := $scratch.Get "authorRole" -}}
{{- $authorURL := $scratch.Get "authorURL" -}}

{{- if eq .Type "posts" -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title | jsonify }},
  "description": {{ with .Description }}{{ . | jsonify }}{{ else }}{{ .Summary | plainify | jsonify }}{{ end }},
  "image": {{ with .Params.image }}{{ (. | absURL) | jsonify }}{{ else }}{{ "/images/default-og.png" | absURL | jsonify }}{{ end }},
  "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  {{- with .Lastmod -}}
  "dateModified": {{ .Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  {{- end -}}
  "author": {
    "@type": "Person"{{ if $authorName }},
    "name": {{ $authorName | jsonify }}{{ end }}{{ if $authorURL }},
    "url": {{ $authorURL | jsonify }}{{ end }}{{ if $authorRole }},
    "jobTitle": {{ $authorRole | jsonify }}{{ end }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Title | jsonify }},
    "url": {{ .Site.BaseURL | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ "/images/logo.png" | absURL | jsonify }}
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  },
  {{- with .Params.tags -}}
  "keywords": {{ delimit . ", " | jsonify }},
  {{- end -}}
  {{- with .WordCount -}}
  "wordCount": {{ . }},
  {{- end -}}
  "articleSection": {{ with .Params.categories }}{{ index . 0 | jsonify }}{{ else }}{{ .Section | default "Posts" | title | jsonify }}{{ end }}
}
</script>
{{- else if .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ .Site.Title | jsonify }},
  "url": {{ .Site.BaseURL | jsonify }},
  "description": {{ .Site.Params.description | jsonify }},
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": {{ printf "%s/search/?q={search_term_string}" .Site.BaseURL | jsonify }}
    },
    "query-input": "required name=search_term_string"
  }
}
</script>
{{- end -}}
