<hr class="footer-separator" />
<div class="tags">
    {{ if ne .Type "page" }}
    {{ with .Params.tags }}
    <ul class="flat">
        {{ range . }}
        <li class="tag-li">
            <a href="{{ (printf "/tags/%s/" (. | urlize)) | relLangURL }}">{{ . }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    {{ end }}
</div>

{{- /* Author Bio Section */ -}}
{{ if and (eq .Type "posts") (not .Params.hideAuthor) }}
    {{- $authorId := .Params.author | default "vitthal-mirji" -}}
    {{ partial "components/author/bio.html" (dict "authorId" $authorId "Site" .Site) }}
{{ end }}

{{- /* Social Sharing Section */ -}}
{{ partial "social_share.html" . }}

{{- /* Related Content Section (Advanced Algorithm) */ -}}
{{ if and (eq .Type "posts") (gt .WordCount 200) }}
    {{ partial "related_articles_advanced.html" . }}
{{ end }}

{{ if isset .Site.Params "github" }}
<div class="back">
    <a href="{{ .Site.Params.github }}/blob/master/content/{{ .File.Path }}" title="github"><i
            data-feather="github"></i> Edit this on GitHub</a>
</div>
{{ end }}

<div class="back">
    <a href="{{ $.Site.BaseURL }}"><span aria-hidden="true">← Back</span></a>
</div>


<div class="back">
    {{ if isset .Site.Params "footers" }}
    {{ if ne .Type "page" }}
    Next time, we'll talk about <i>"{{ range .Site.Params.footers | shuffle | first 1 }}{{ .
        }}"</i>{{ end
    }}
    {{ end }}
    {{ end }}
</div>
