<div class="header">
	{{ if .Site.Params.Avatar }}
		<div class="avatar">
			<a href="{{ .Site.BaseURL }}">
				<img src="{{ .Site.Params.Avatar }}" alt="{{ .Site.Title }}" />
			</a>
		</div>
	{{ end }}
	<h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
	<div class="site-description">
		{{- if isset .Site.Params "subtitle" -}}
		<p>{{ .Site.Params.Subtitle | markdownify }}</p>
		{{- end -}}
		<nav class="nav social" aria-label="Social media links">
			<ul class="flat">
				{{- range $index, $key := .Site.Params.Social -}}
					<li>
						<a href="{{ $key.url }}" title="{{ $key.name }}" aria-label="{{ $key.name }}" target="_blank" rel="nofollow noopener noreferrer">
							<i data-feather="{{ $key.icon }}" aria-hidden="true"></i>
						</a>
					</li>
				{{- end -}}

				{{- if or (eq .Site.Params.mode "auto") (eq .Site.Params.mode "dark") -}}
				<li>
					<span class="scheme-toggle"><a href="#" id="scheme-toggle" aria-label="Toggle dark/light theme" role="button"></a></span>
				</li>
				{{- end -}}
			</ul>
		</nav>
	</div>

	<nav class="nav" aria-label="Main navigation">
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li>
				{{- if eq .Name "Resume" -}}
				<a href="{{ .URL }}" target="_blank" rel="noopener noreferrer">{{ .Name }}</a>
				{{- else -}}
				<a href="{{ .URL }}">{{ .Name }}</a>
				{{- end -}}
			</li>
			{{ end }}
			{{- if .Site.Params.enablePagefind -}}
			<li>
				<a href="/search/">Search</a>
			</li>
			{{- end -}}
		</ul>
	</nav>
</div>
