{{ if .IsHome -}}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "{{ .Site.Title }}",
        "url": "{{ .Site.BaseURL }}",
        "description": "{{ .Site.Params.description }}"
    }
</script>
{{ else if .IsPage }}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": {{ printf "%q" .Title }},
    "datePublished": "{{ .Date.Format "2006-01-02T15: 04: 05Z0700" }}",
    "author": {
    "@type": "Person", "name":{{printf "%q" (or .Params.author .Site.Author.name)}}}
    }
</script>
{{ end }}
