<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}"{{- if (eq .Site.Params.mode "dark" ) -}} class="dark"{{ end }}>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper">
		<header class="site-header">
			{{ partial "head.html" . }}
		</header>

		<main role="main" aria-label="Blog posts">
			<section class="recent-posts section">
				<h1 class="visually-hidden">Recent Posts</h1>
				<div class="posts">
					{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
					{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
					{{ range $paginator.Pages }}
				<div class="post">
					<div class="post-header">
						<div class="meta">
							<div class="date">
								<span class="day">{{ dateFormat "02" .Date }}</span>
								<span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d"
									.Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end
									}}</span>
							</div>
						</div>
						<div class="matter">
							<h2 class="title small">
								<a href="{{ .RelPermalink }}">{{.Title}}{{ if .Draft }}<sup
										class="draft-label">DRAFT</sup>{{ end }}</a>
							</h2>
							{{ $wordCountNoCode := replaceRE `(?s)<div class="highlight">.*?</div>` "" .Content |
							countwords }}
							<div class="meta-info small smaller">
								{{ $wordCountNoCode | lang.FormatNumberCustom 0 }} words, ~{{ div $wordCountNoCode
								.Site.Params.wpm
								}} min read
							</div>
							<div class="tags-section small smaller">
								{{ with .Params.tags }}
								<ul class="tags flat">
									{{ range . }}
									<li class="tag-li">
									<a href="{{ (printf "/tags/%s/" (. | urlize)) | relLangURL }}" aria-label="Tag: {{ . }}">{{ . }}</a>
									</li>
									{{ end }}
								</ul>
								{{ end }}
							</div>
							<span class="description">
								{{ if isset .Params "description" }}
								{{ .Description }}
								{{ else if gt (len .RawContent) 120 }}
								{{ slicestr .RawContent 0 120 }}...
								{{ else }}
								{{ .RawContent }}
								{{ end }}
							</span>
						</div>
					</div>
				</div>
					{{ end }}
					{{ template "partials/paginator.html" . }}
				</div>
			</section>
		</main>
	</div>

	<footer class="site-footer">
		{{ partial "footer.html" . }}
	</footer>
</body>

</html>
